/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Roboto', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

ngb-datepicker {
  z-index: 1 !important;
  background: #F08A5D !important;
}